*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(217, 241, 245);
}

.footer{
    background: #101214;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer .row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 40px;

}

.footer .row li{
    list-style: none;
}
.footer .row li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 550;
    color: #fff;
    line-height: 18px;
}
.footer .row li a:hover{
    text-decoration: underline;
}



h4{
    color: #acaaaa;
    font-size: 12px;
    font-weight: 440;
    margin-bottom: 15px;
}

p{
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    width: 200px;

}

.seperator{
    border-left: 1px solid grey;
    padding-left: 30px;
}
hr{
    border: 1px solid grey;
    margin-bottom: 30px;
}

.copyright{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: #acaaaa;
    font-size: 12px;
    font-weight: 550;
}


/* Media Query for Tablet Screen */

@media only screen and (max-width: 798px){
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .footer .row{
        
        grid-template-columns: repeat(3, 1fr);
       gap: 40px;
    
    }


}


/* Media Query for Mobile Screen */

@media only screen and (max-width: 590px){
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .footer .row{
        
        grid-template-columns: auto;
       gap: 40px;
    
    }

    .seperator{
        border-left: 0;
        padding-left: 0;
    }


}

